@mixin flex-center($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: #{$gap};
}

@mixin flex-top($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: #{$gap};
}

@mixin flex-column-top($gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: #{$gap};
}

@mixin flex-column-center($gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: #{$gap};
}

@mixin flex-column-left($gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: #{$gap};
}
