// colors
$background-color: rgb(199, 199, 199);
$background-color-secondary: #efe1cf;
$white-color: white;
$black-color: rgb(21, 21, 21);
$overlay-color: rgba(0, 0, 0, 0.5);
$color-orange-primary: #fca533;
$color-orange-secondary: #ffefda;
$color-creen-primary: #45d54f;
$color-green-secondary: #88d48d;
$color-gray: #696969;
$color-light-gray: #f3f3f3;
$color-red: #fe1919;
$color-light-red: #fcd1d1;

// font-sizes
$font-size-small: 1.4rem;
$font-size-middle: 1.6rem;
$font-size-big: 2rem;
$font-size-extra-big: 3rem;
