// colors
$color-milk: #fffcee;
$color-black: #1a1a1a;
$secondary-color: #1a2842;
$color-green: #b7d870;
$color-red: #f77f94;
$color-yellow: #fecc5f;

// font-sizes
$font-size-small: 1.4rem;
$font-size-middle: 1.6rem;
$font-size-big: 2rem;
$font-size-extra-big: 3rem;
